Parameters:
  AllowedCidrBlock:
    AllowedPattern: ^([0-9]{1,3}\.){3}[0-9]{1,3}(\/([0-9]|[1-2][0-9]|3[0-2]))?$
    ConstraintDescription: must be a CIDR block range between x.x.x.x\16 and x.x.x.x\32
    Description: The CIDR block range you want to allow to access the VPC (i.e. home / school I.P. address)
    Type: String
  VPC:
    Type: String
Resources:
  HTTPSSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Allows communication over HTTPS that originates from within the VPC
      GroupName: HTTPS Security Group
      VpcId: !Ref VPC
  HTTPSEgress:
    Type: AWS::EC2::SecurityGroupEgress
    Properties:
      IpProtocol: tcp
      FromPort: 443
      ToPort: 443
      CidrIp: 0.0.0.0/0
      GroupId: !Ref HTTPSSecurityGroup
  SSHSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Allows SSH from the CIDR block range provided in the template to the instance
      GroupName: SSH Security Group
      VpcId: !Ref VPC
  SSHIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      IpProtocol: tcp
      FromPort: 22
      ToPort: 22
      CidrIp: !Ref AllowedCidrBlock
      GroupId: !Ref SSHSecurityGroup
Outputs:
  HTTPSSecurityGroup:
    Value: !Ref HTTPSSecurityGroup
  SSHSecurityGroup:
    Value: !Ref SSHSecurityGroup
